body {
    color:cornflowerblue;
    text-align: center;
    background-color:black;
};
    
#playground {
    margin: 0 auto;
    text-align: center;
    height: 100vh;
    width: 50vh;
    background-color:rgb(2, 2, 21);
};
    
#castle_back {
    width: 100%;
    height: auto;
};
    
.castle_build {
    position: absolute;
    width: 100%;
    height: auto;
    top: 90px;
    right: 0px;
};
    
#castle_div {
    position: relative;     
};
    
a {
    color:cornflowerblue;
    text-align: center;
    background-color: rgb(13, 13, 60);
    border:3px solid rgb(0, 0, 0); 
    text-decoration: none;
    padding: 10px 190px 10px 190px;
    border-radius: 2px;
};
    