div#herocard {
    width: 150px;
    float: left;
    margin: 10px;
}

div#heroblock {
    width: 520px;
    position: absolute;
    top: 90px;
    right: 0;
    bottom: 100px;
    left: 0;
    margin: auto;
    background-color: rgb(74, 15, 129);
    border-radius: 15px;
}

div#herocard:hover {
    border-radius: 10px;
    border: 3px solid gold;
}


button {
    width: 80%;
    border-radius: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: rgb(111, 43, 175);
    color: rgb(41, 41, 95);
}

/* потом изменить, потому что разные картинки могут быть */
img {
    height: 190px;
}