{% load static %}
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/hero.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/dungeon.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
  </head>
  <body>
    <div id="playground">
      <!-- <h1>{{ user.username|default:'Guest' }}</h1> -->
      <h1> Dungeon</h1>
        {% if user.is_authenticated %}

        <div id="heroblock">
          {% include "dungeon/hero.html" %}
          {% include "dungeon/hero.html" %}
          {% include "dungeon/hero.html" %}

          <button><h2>attack</h2></button>

          {% include "dungeon/hero.html" %}
          {% include "dungeon/hero.html" %}
          {% include "dungeon/hero.html" %}
        </div>
        {% else %}
          <a href="{% url 'signup' %}">Sign Up</a>
          <a href="{% url 'login' %}">Login</a>
        {% endif %}
    </div>
  </body>
</html>