<!--/templates/hero.html-->
{% load static %}

{% block content %}
<div id="herocard">

{% with ''|center:3 as range %}
{% for _ in range %}
  <h2>Hero</h2>
  <!-- старый способ через Built-in filter reference. он закоменчен. второй: просто формируем директорию со статик префиксом -->
  <!-- <img src="{% static 'images/dungeon/' {{ |add:forloop.counter|:add:'.jpg' }} %}" width="150px" alt="{{forloop.counter}}"> -->
  <img src="{% get_static_prefix %}{{ 'images/dungeon' }}/{{ forloop.counter }}.{{ 'jpg' }}" width="150px" alt="{{ forloop.counter }}">
  <div id="hpbar"></div>
{% endfor %}
{% endwith %}

</div>
{% endblock %}